Creating using:
*   excel File
*   csv File
*   Dictionary
*   List of tuples

In [1]:
import pandas as pd

# Load Data Frame from excel file

In [3]:
d = pd.read_excel("/content/Marksheet.xlsx")
d

    Unnamed: 0         Unnamed: 1    Unnamed: 2  Unnamed: 3 Unnamed: 4
0          NaN                NaN           NaN         NaN        NaN
1          NaN                NaN  Exam Results         NaN        NaN
2          NaN                NaN           NaN         NaN        NaN
3          NaN                NaN           NaN         NaN        NaN
4          NaN       Student Name     Exam Name        Date     Points
5          NaN       James Walker       Biology  05/06/2016         31
6          NaN      Velma Clemons       Biology  05/06/2016         43
7          NaN     Kibo Underwood       Biology  05/06/2016         81
8          NaN        Louis Mcgee       Biology  05/06/2016         11
9          NaN       Phyllis Paul       Biology  05/06/2016         18
10         NaN     Zenaida Decker       Biology  05/06/2016         55
11         NaN    Gillian Tillman       Biology  05/06/2016         38
12         NaN    Constance Boone       Biology  05/06/2016         16
13         NaN  Giselle Lancaster       Biology  05/06/2016         73
14         NaN   Kirsten Mcdowell       Biology  05/06/2016         16
15         NaN                NaN           NaN         NaN        NaN
16         NaN                NaN           NaN         NaN        NaN
17         NaN         04/04/2022           NaN         NaN        NaN

In [4]:
df = pd.DataFrame(d)
df

    Unnamed: 0         Unnamed: 1    Unnamed: 2  Unnamed: 3 Unnamed: 4
0          NaN                NaN           NaN         NaN        NaN
1          NaN                NaN  Exam Results         NaN        NaN
2          NaN                NaN           NaN         NaN        NaN
3          NaN                NaN           NaN         NaN        NaN
4          NaN       Student Name     Exam Name        Date     Points
5          NaN       James Walker       Biology  05/06/2016         31
6          NaN      Velma Clemons       Biology  05/06/2016         43
7          NaN     Kibo Underwood       Biology  05/06/2016         81
8          NaN        Louis Mcgee       Biology  05/06/2016         11
9          NaN       Phyllis Paul       Biology  05/06/2016         18
10         NaN     Zenaida Decker       Biology  05/06/2016         55
11         NaN    Gillian Tillman       Biology  05/06/2016         38
12         NaN    Constance Boone       Biology  05/06/2016         16
13         NaN  Giselle Lancaster       Biology  05/06/2016         73
14         NaN   Kirsten Mcdowell       Biology  05/06/2016         16
15         NaN                NaN           NaN         NaN        NaN
16         NaN                NaN           NaN         NaN        NaN
17         NaN         04/04/2022           NaN         NaN        NaN

# Load Data Frame from csv file

In [7]:
data = pd.read_csv('/content/survey_results_public.csv')
data

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4313,4329,I am a developer by profession,Yes,29.0,16,Yearly,93000.0,70337.0,Canada,Canadian dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Spring;Vue.js,NaN,Just as welcome now as I felt last year,40.0,11,4
4314,4330,I am a developer by profession,Yes,33.0,20,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Ruby on Rails,Flask,Somewhat more welcome now than last year,NaN,6,NaN
4315,4331,I am a developer by profession,Yes,23.0,17,NaN,NaN,NaN,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;Flask;React.js;Spring,Express;Flask;Spring,Not applicable - I did not use Stack Overflow ...,40.0,5,Less than 1 year
4316,4332,I am a student who is learning to code,Yes,20.0,15,NaN,NaN,NaN,Lebanon,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;jQuery,Express;jQuery,Somewhat less welcome now than last year,NaN,4,NaN
4317,4333,I am a developer by profession,Yes,27.0,20,Monthly,32000.0,20688.0,Mexico,Mexican peso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df1 = pd.DataFrame(data)
df1

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4313,4329,I am a developer by profession,Yes,29.0,16,Yearly,93000.0,70337.0,Canada,Canadian dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Spring;Vue.js,NaN,Just as welcome now as I felt last year,40.0,11,4
4314,4330,I am a developer by profession,Yes,33.0,20,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,"A natural science (such as biology, chemistry,...",Flask;Ruby on Rails,Flask,Somewhat more welcome now than last year,NaN,6,NaN
4315,4331,I am a developer by profession,Yes,23.0,17,NaN,NaN,NaN,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Express;Flask;React.js;Spring,Express;Flask;Spring,Not applicable - I did not use Stack Overflow ...,40.0,5,Less than 1 year
4316,4332,I am a student who is learning to code,Yes,20.0,15,NaN,NaN,NaN,Lebanon,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Express;jQuery,Express;jQuery,Somewhat less welcome now than last year,NaN,4,NaN
4317,4333,I am a developer by profession,Yes,27.0,20,Monthly,32000.0,20688.0,Mexico,Mexican peso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Create Data Frame using Dictionary

In [12]:
dic = {'Name':['Raj','Ram','Sam'], 'Roll':[1,2,3], 'English':[44,78,34], 'Maths':[99,87,56]}

In [13]:
df2 = pd.DataFrame(dic)
df2

  Name  Roll  English  Maths
0  Raj     1       44     99
1  Ram     2       78     87
2  Sam     3       34     56

# Create Data Frame using List of tuples

In [14]:
dt = [('a', 10), ('b', 20), ('c', 30)]

In [15]:
df3 = pd.DataFrame(dt)
df3

   0   1
0  a  10
1  b  20
2  c  30